@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
svg {
  height: 1rem; }

* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

label {
  color: #7f8fa4;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.3rem; }

input {
  border: 1px solid #ced0da;
  border-radius: 0.25rem;
  height: 2rem;
  width: 100%;
  color: #354052;
  padding: 0.8rem 1rem; }

select {
  color: #354052;
  background: #f2f4f7;
  background: linear-gradient(0deg, #f2f4f7 0%, white 100%);
  padding: 0.5rem;
  border: 1px solid #e6eaee;
  border-radius: 0.25rem; }

select:focus {
  outline: none; }

option.option {
  background-color: red; }

.btn {
  display: flex;
  align-items: center;
  height: 2.2rem;
  margin: 0;
  padding: 0;
  padding-right: 0.7rem;
  border: 1px solid #ced0da;
  border-radius: 0.25rem;
  color: #343c48;
  font-weight: 600;
  font-size: 0.8rem;
  background: linear-gradient(0deg, #f2f4f7 0%, white 100%); }
  .btn svg {
    height: 0.8rem;
    margin: 0 0.7rem; }
  .btn:hover {
    background: linear-gradient(180deg, #f2f4f7 0%, white 100%); }

.success {
  border: 1px solid #259534;
  border-radius: 0.25rem;
  text-align: center;
  color: #fff;
  background: #3ab54a;
  background: linear-gradient(0 deg, #3ab54a 0%, #34aa44 100%); }
  .success:hover {
    background: #3ab54a;
    background: linear-gradient(180 deg, #3ab54a 0%, #34aa44 100%); }

.form-control {
  margin-bottom: 1rem; }

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: #eff3f6;
    padding: 1rem; }

  article.central-points-wrapper {
    width: 100%; }
    article.central-points-wrapper header {
      display: flex;
      justify-content: space-evenly; }
      article.central-points-wrapper header div.central-points-header--item {
        width: 100%;
        height: 9rem;
        margin-right: 2rem;
        color: #fff;
        border-radius: 0.25rem;
        padding: 1rem; }
        article.central-points-wrapper header div.central-points-header--item:nth-child(1) {
          background-color: #3b517c; }
        article.central-points-wrapper header div.central-points-header--item:nth-child(2) {
          background-color: #66b92e; }
        article.central-points-wrapper header div.central-points-header--item:nth-child(3) {
          background-color: #da932c; }
        article.central-points-wrapper header div.central-points-header--item:nth-child(4) {
          background-color: #d65b4a;
          margin-right: 0; }
    article.central-points-wrapper div.content {
      margin-top: 2rem;
      border: 1px solid #e6eaee;
      border-radius: 0.25rem; }
      article.central-points-wrapper div.content header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        border-bottom: 1px solid #e6eaee;
        background-color: #fff; }
        article.central-points-wrapper div.content header h2 {
          font-size: 1.6rem;
          font-weight: normal;
          color: #354052; }
          article.central-points-wrapper div.content header h2 span {
            color: #dadfe3;
            font-size: 1rem; }
      article.central-points-wrapper div.content .categories {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        font-size: 0.9rem;
        padding: 10px 0;
        background-color: #f4f8fa;
        color: #7f8fa4;
        font-weight: 600;
        border-bottom: 1px solid #e6eaee; }
        article.central-points-wrapper div.content .categories > div {
          padding-left: 1rem; }
      article.central-points-wrapper div.content .row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        padding: 1rem 0;
        border: 1px solid #e6eaee;
        border-top: none;
        background-color: #fff; }
        article.central-points-wrapper div.content .row > div {
          padding-left: 1rem; }
        article.central-points-wrapper div.content .row > div:first-child {
          font-weight: 600; }
      article.central-points-wrapper div.content div.row:hover {
        border-left: 3px solid #d43700;
        margin-left: -2px;
        background-color: rgba(226, 231, 238, 0.5); }
    article.central-points-wrapper footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.8rem 0; }
      article.central-points-wrapper footer p.button {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e6eaee;
        border-radius: 0.25rem; }
        article.central-points-wrapper footer p.button svg {
          height: 1.2rem; }
      article.central-points-wrapper footer p.button:hover {
        background-color: rgba(226, 231, 238, 0.5); }
      article.central-points-wrapper footer p.sites {
        color: #b4b9bf;
        font-size: 0.8rem; }

  section.card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40vw;
    min-height: 50vh;
    z-index: 1000;
    background-color: #fff;
    border-radius: 0.25rem; }
    section.card header {
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.25rem;
      background: #2ea2f8;
      background: linear-gradient(0 deg, #2ea2f8 0%, #1891eb 100%);
      color: #fff;
      font-size: 1.2rem;
      font-weight: 300;
      padding: 0 1rem; }
      section.card header svg {
        opacity: 0.3; }
        section.card header svg:hover {
          opacity: 1; }
    section.card .content {
      margin: 1.2rem 1rem; }
      section.card .content select {
        width: 100%; }
    section.card footer {
      display: flex;
      justify-content: center;
      margin: 2rem; }
      section.card footer .btn {
        display: flex;
        justify-content: center;
        width: 70%; }

  div.curtain {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #354052;
    background-color: black;
    opacity: 0.7;
    width: 100vw;
    height: 100vh; }

  .hidden {
    display: none; }

  .show {
    display: block; } }
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=screen.css.map */
