@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

$border-light: 1px solid #e6eaee;
$border-radius: 0.25rem;
$color-font-light: #dadfe3;
$color-h2: #354052;
$color-white: #fff;
$color-hover: rgba(226, 231, 238, 0.5);

@mixin gradientBlue($deg: 0) {
    background: rgb(46, 162, 248);
    background: linear-gradient(
        $deg deg,
        rgba(46, 162, 248, 1) 0%,
        rgba(24, 145, 235, 1) 100%
    );
}

@mixin gradientGreen($deg: 0) {
    background: rgb(58, 181, 74);
    background: linear-gradient(
        $deg deg,
        rgba(58, 181, 74, 1) 0%,
        rgba(52, 170, 68, 1) 100%
    );
}

@mixin header() {
    @include gradientBlue;
    color: $color-white;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 1rem;
}

svg {
    height: 1rem;
}

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
// }

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

label {
    color: #7f8fa4;
    font-size: 0.8rem;
    font-weight: 500;
    // letter-spacing: -0.1rem;
    display: block;
    margin-bottom: 0.3rem;
}

input {
    border: 1px solid #ced0da;
    border-radius: $border-radius;
    height: 2rem;
    width: 100%;
    color: #354052;
    padding: 0.8rem 1rem;
}

select {
    color: #354052;
    background: rgb(242, 244, 247);
    background: linear-gradient(
        0deg,
        rgba(242, 244, 247, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    padding: 0.5rem;
    border: $border-light;
    border-radius: $border-radius;
}

select:focus {
    outline: none;
}

option.option {
    background-color: red;
}

.btn {
    display: flex;
    align-items: center;
    height: 2.2rem;
    margin: 0;
    padding: 0;
    padding-right: 0.7rem;
    border: 1px solid #ced0da;
    border-radius: $border-radius;
    color: #343c48;
    font-weight: 600;
    font-size: 0.8rem;

    svg {
        height: 0.8rem;
        margin: 0 0.7rem;
    }

    background: linear-gradient(
        0deg,
        rgba(242, 244, 247, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );

    &:hover {
        background: linear-gradient(
            180deg,
            rgba(242, 244, 247, 1) 0%,
            rgba(255, 255, 255, 1) 100%
        );
    }
}

.success {
    border: 1px solid #259534;
    border-radius: $border-radius;
    text-align: center;
    color: $color-white;

    @include gradientGreen;

    &:hover {
        @include gradientGreen(180);
    }
}

.form-control {
    margin-bottom: 1rem;
}

@media (max-width: 319px) {
}

@media (min-width: 320px) {
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-color: #eff3f6;
        padding: 1rem; // only for test
    }

    article.central-points-wrapper {
        // border: $border-light;
        width: 100%;

        header {
            display: flex;
            justify-content: space-evenly;

            div.central-points-header--item {
                // width: 25%;
                width: 100%;
                height: 9rem;
                // outline: 1px dashed red;
                margin-right: 2rem;
                color: $color-white;
                border-radius: $border-radius;
                padding: 1rem;

                &:nth-child(1) {
                    background-color: #3b517c;
                }
                &:nth-child(2) {
                    background-color: #66b92e;
                }
                &:nth-child(3) {
                    background-color: #da932c;
                }
                &:nth-child(4) {
                    background-color: #d65b4a;
                    margin-right: 0;
                }
            }
        }

        div.content {
            margin-top: 2rem;
            // outline: 1px dashed red;
            border: $border-light;
            border-radius: $border-radius;

            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2rem;
                border-bottom: $border-light;
                background-color: $color-white;

                h2 {
                    font-size: 1.6rem;
                    font-weight: normal;
                    color: $color-h2;

                    span {
                        color: $color-font-light;
                        font-size: 1rem;
                    }
                }
            }
            .categories {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                // grid-template-rows: 2fr;
                font-size: 0.9rem;
                padding: 10px 0;
                background-color: #f4f8fa;
                color: #7f8fa4;
                font-weight: 600;
                border-bottom: $border-light;

                & > div {
                    padding-left: 1rem;
                }
            }
            .row {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                align-items: center;

                padding: 1rem 0;
                border: $border-light;
                border-top: none;
                background-color: $color-white;

                & > div {
                    padding-left: 1rem;
                    // outline: 1px dotted red;
                }
                & > div:first-child {
                    font-weight: 600;
                }
            }

            div.row:hover {
                border-left: 3px solid #d43700;
                margin-left: -2px;
                background-color: $color-hover;
            }
        }

        footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.8rem 0;

            p.button {
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: $border-light;
                border-radius: $border-radius;

                svg {
                    height: 1.2rem;
                    // fill: red;
                }
            }

            p.button:hover {
                background-color: $color-hover;
                // border: 1px solid red;
            }

            p.sites {
                color: #b4b9bf;
                font-size: 0.8rem;
            }
        }
    }

    section.card {
        // outline: 1px dashed red;
        // display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 40vw;
        min-height: 50vh;
        z-index: 1000;
        background-color: #fff;
        border-radius: $border-radius;

        header {
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: $border-radius;

            @include header;
            svg {
                opacity: 0.3;
                &:hover {
                    opacity: 1;
                }
            }
        }

        .content {
            margin: 1.2rem 1rem;

            select {
                width: 100%;
            }
        }

        footer {
            display: flex;
            justify-content: center;
            margin: 2rem;
            .btn {
                display: flex;
                justify-content: center;
                width: 70%;
            }
        }
    }

    div.curtain {
        position: fixed;
        left: 0;
        top: 0;
        background-color: #354052;
        background-color: black;
        opacity: 0.7;
        width: 100vw;
        height: 100vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
